<h1>Posts Archive, Yo.</h1>

<% if can? :write, :posts %>
  <%= link_to "Add Post", new_post_path %>
<% end %>

<ul class="posts-list">
  <%- @posts.each do |post| -%>
    <li>
      <%= link_to post.title, post_path(post) %>
    </li>
  <%- end -%>
</ul>
